<h1>Description du Cocktail</h1>

<ul>
  <li>Name: <%= @cocktail.name %></li>
  <%= @cocktail.doses.each do|dose| %>
  <li>Dose: <%= @dose.description%></li>
  <% end %>
</ul>




<%= link_to 'Cocktails List', cocktails_path %> |
<%= link_to 'Edit a new cocktail', new_cocktail_path(@restaurant) %> |
